* {
    box-sizing: border-box;
}

body {
    background-image: url('../assets/crew/background-crew-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    padding: 0;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    height: 40px;
}

.nav-line {
    flex-grow: 1;
    margin: 0 20px;
}

.nav-line hr {
    border: none;
    border-top: 1px solid white;
}

.menu-burger {
    display: none;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}

.menu li {
    margin-left: 20px;
}

.menu li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    padding: 5px;
    position: relative;
}

.menu li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #FFFFFF;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.menu li a:hover::after {
    width: 100%;
    opacity: 0.5;
}

.menu li a.active::after {
    width: 100%;
    opacity: 1;
}

.number {
    margin-right: 10px;
    font-weight: bold;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    text-align: center;
}

.content {
    max-width: 1440px;
    width: 100%;
}

.title h1 {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 100px 0;
    letter-spacing: 4px;
    margin-bottom: 20px; 
    text-align: left;
}

.number-title {
    color: #FFFFFF;
    opacity: 25%;
    margin-right: 10px;
}

.contenu-crew {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.biography {
    display: flex;
    flex-direction: column;   
    margin-bottom: 20px;
}

.biography .text {
    max-width: 600px;
    padding-right: 20px;
}

.text {
    text-align: left;
}

.biography h2 {
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 37px;
    color: #FFFFFF;
    opacity: 50.42%;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.biography span {
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
    color: #FFFFFF;
    text-align: left;
    text-transform: uppercase;
}

.biography p {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    color: #D0D6F9;
    margin-top: 50px;
} 

.photo {
    flex: 1;
}

.photo img {
    max-width: 100%;
    height: auto;
}

.pagination {
    display: flex;
    gap: 40px;
    margin-top: 400px;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #FFFFFF;
    opacity: 0.2;
    margin: 0 5px;
    cursor: pointer;
}

.circle-active {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

@media screen and (min-width:376px) and (max-width: 768px){
    body {
        background-image: url('../assets/crew/background-destination-tablet.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .nav-line {
        display: none;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    .title {
        text-align: left;
    }

    .contenu-crew {
        flex-direction: column;
    }

    .biography {
        align-items: center;
    }

    .biography, .photo {
        width: 100%;
    }

    .pagination {
        margin-top: 50px;
    }

    .photo {
        margin-top: 50px;
    }
}

@media (max-width: 375px) {
    body {
        background-image: url('../assets/destination/background-destination-mobile.jpg');
    }

    .nav-line {
        display: none;
    }

    .menu-burger {
        display: block;
    }

    .menu-burger button {
        background: none;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 24px;
        width: 30px;
    }

    .menu-burger .bar {
        background-color: white;
        height: 3px;
        width: 100%;
    }

    .menu {
        display: none;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        padding: 20px;
    }

    .menu.active {
        display: flex;
    }

    .title {
        text-align: center;
    }
   
    .contenu-crew {
        flex-direction: column;
    }

    .text h2 {
        text-align: center;
    }

    .text span {
        font-size: 35px;
        text-align: center;
    }

    .text p {
        text-align: center;
    }

    .biography,
    .photo {
        width: 100%;
    }

    .pagination {
        justify-content: center;
        margin-top: 50px;
    }

    .photo {
        margin-top: 50px;
    }

    .menu li a:hover::after {
        width: 0;
        opacity: 0;
    }

    .menu li a.active::after {
        width: 0;
    }
}